{% extends "../base.html" %}
{% block sidebar %}
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">{{ request.session.authuser.name }}님 안녕하세요 ^^;</p>
        </div>
      </div>
     <ul class="app-menu">
        <li><a class="app-menu__item" href="/service/yniAverage"><span class="app-menu__label">나와 같은 사람들의 평균생활</span></a></li>

   <li><a class="app-menu__item active" href="/service/yniCompare"><span class="app-menu__label">나 VS 나와 같은 사람</span></a></li>

        <li><a class="app-menu__item" href="/service/yniScore"><span class="app-menu__label">나의 금융생활 점수는?</span></a></li>
      </ul>
    </aside>
{% endblock %}
{% block content %}
    <main class="app-content">



        <!---------------------------------------------------------------->
           <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>나 vs 나와 같은 사람</h1>
          <p>나와 같은 사람들의 전체 은행 거래와 나의 거래을 비교해 보세요.</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item active"><a href="#">나 vs 나와 같은 사람</a></li>
        </ul>
      </div>

        <!---------------------------------------------------------------->
        <!--row-->
        <div id="page-inner"><!--row---------->

    <row>


        <div class="col-md-6">
						<div class="card"><div class="card-action">
					  <h2>나의 거래</h2>
					</div>
					<div class="card-image">
					  <div class="collection">
						  <a  class="collection-item">월 적립식 저축액<span class="new badge red" data-badge-caption="만원">13</span></a>
                          <a class="collection-item"><span class="badge">없음</span>월 펀드 저축액</a>

						  <a  class="collection-item"><span class="badge">미보유</span>청약 통장 보유 여부</a>
				      <a  class="collection-item"><span class="badge">없음</span>마이너스 통장 잔액</a>
                          <a  class="collection-item"><span class="badge">없음</span>전/월세 대출 잔액</a>
                          <a  class="collection-item"><span class="badge">없음</span>적금 잔액</a>
                          <a class="collection-item"><span class="badge">없음</span>펀드 잔액</a>
                          <a  class="collection-item"><span class="badge">없음</span>신용대출 잔액</a>
                          <a class="collection-item">주택 담보대출 잔액<span class="new badge red" data-badge-caption="만원">1억55만원</span>

                          </a></div>
					</div>

					</div>
            		<div class="alert alert-info">
									<strong>Note !</strong> 거래내역은 최근 3개월 입금 금액의 평균값입니다.
								</div>

                    </div>
        <div class="col-md-6">
						<div class="card"><div class="card-action">
					  <h2>나와 같은 사람들</h2>
					</div>
					<div class="card-image">
							 	  <div class="collection">
						  <a  class="collection-item">월 적립식 저축액<span class="new badge red" data-badge-caption="만원">13</span></a>
                          <a class="collection-item"><span class="badge">없음</span>월 펀드 저축액</a>

						  <a  class="collection-item"><span class="badge">미보유</span>청약 통장 보유 여부</a>
				      <a  class="collection-item"><span class="badge">없음</span>마이너스 통장 잔액</a>
                          <a  class="collection-item"><span class="badge">없음</span>전/월세 대출 잔액</a>
                          <a  class="collection-item"><span class="badge">없음</span>적금 잔액</a>
                          <a class="collection-item"><span class="badge">없음</span>펀드 잔액</a>
                          <a  class="collection-item"><span class="badge">없음</span>신용대출 잔액</a>
                          <a class="collection-item">주택 담보대출 잔액<span class="new badge red" data-badge-caption="만원">1억55만원</span>

                          </a></div>

					</div>

					</div>

            <div class="alert alert-success">
                <strong>Note !</strong> 조회 기준일: 2017년 10월 17일 | 표시 단위 만원
            </div>
        </div>

       </row>

    <!--row-->

    <row>
     <div class="col-md-6">
          <div class="tile">
            <h2 class="tile-title">월별 패턴 비교</h2>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
              <div class="alert alert-success">
                <strong>Note !</strong> 나: Gray, 나와 같은 사람들 : Black
            </div>
        </div>

     <div class="col-md-6">
          <div class="tile">
            <h2 class="tile-title">빈도수 </h2>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
         	<div class="alert alert-info">
									<strong>Note !</strong> 나: Gray, 나와 같은 사람들 : Black
								</div>

        </div>
    </row>


        <!---------------------------------------------------------------->

        </div>
    </main>
{% endblock %}
