{% extends "../base.html" %}

{% block sidebar %}
     <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar"src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"  alt="User Image">
        <div>
          <p class="app-sidebar__user-name">{{ request.session.authuser.id }}</p>
          <p class="app-sidebar__user-designation">{{request.session.authuser.name}}님 안녕하세요 ^^;</p>
        </div>
      </div>
     <ul class="app-menu">
        <li><a class="app-menu__item" href="/service/yniAverage"><span class="app-menu__label">나와 같은 사람들의 평균생활</span></a></li>

   <li><a class="app-menu__item active" href="/service/yniCompare"><span class="app-menu__label">나 VS 나와 같은 사람</span></a></li>

        <li><a class="app-menu__item " href="/service/yniScore"><span class="app-menu__label">나의 금융생활 점수는?</span></a></li>
    <li><a class="app-menu__item" href="/service/productList"><span class="app-menu__label">베스트 상품 추천</span></a></li>
     </ul>
    </aside>


{% endblock %}
{% block content %}
    <main class="app-content">



        <!---------------------------------------------------------------->
           <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i>나 vs 나와 같은 사람</h1>
          <p>나와 같은 사람들의 평균과 나의 금융거래내역을 비교해 보세요.</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item active"><a href="#">나 vs 나와 같은 사람</a></li>
        </ul>
      </div>

        <!---------------------------------------------------------------->
        <!--row-->
        <div id="page-inner"><!--row---------->

    <row>


        <div class="col-md-6">
            	<div class="alert alert-info">
									<strong>Note !</strong> 거래내역은 최근 3개월 입금 금액의 평균값입니다.
								</div>
						<div class="card"><div class="card-action">
					  <h2>나의 거래</h2>
					</div>
					<div class="card-image">
					  <div class="collection">



                             <a  class="collection-item">월총저축액<span class="new badge red" data-badge-caption="" >{{user.M_TOT_SAVING}}</span></a>


                          <a class="collection-item"><span class="badge">{{user.M_JEOK}}</span>월저축액 적금</a>
                          <a class="collection-item"><span class="badge">{{user.CHUNG_Y}}</span>청약보유여부</a>
                          <a class="collection-item"><span class="badge">{{user.M_FUND_STOCK}}</span>월저축액 펀드 주식</a>
                          <a class="collection-item"><span class="badge">{{user.M_FUND}}</span>월저축액 펀드</a>
                          <a class="collection-item"><span class="badge">{{user.M_STOCK}}</span>월저축액 주식</a>
                          <a class="collection-item"><span class="badge">{{user.M_SAVING_INSUR}}</span>월저축액 저축성보험</a>
                          <a class="collection-item"><span class="badge">{{user.M_CHUNG}}</span>월저축액 청약</a>
                     <a  class="collection-item">부채잔액<span class="new badge red" data-badge-caption="">{{user.TOT_DEBT}}</span></a>

                          <a class="collection-item"><span class="badge">{{user.D_SHINYONG}}</span>부채잔액 신용대출</a>
                          <a class="collection-item"><span class="badge">{{user.D_DAMBO}}</span>부채잔액 담보대출</a>
                          <a class="collection-item"><span class="badge">{{user.D_JUTEAKDAMBO}}</span>부채잔액 아파트</a>
                          <a class="collection-item"><span class="badge">{{user.D_JEONSEA}}</span>부채잔액 전세자금대출</a>
                          <a class="collection-item"><span class="badge">{{user.RETIRE_NEED}}</span>은퇴후필요자금</a>
                          <a class="collection-item"><span class="badge">{{user.FOR_RETIRE}}</span>노후자금융 월저축액</a>


  <a  class="collection-item">금융상품잔액 정기예금<span class="new badge red" data-badge-caption="">{{user.TOT_YEA}}</span></a>

                                       <a  class="collection-item">금융상품잔액 적금<span class="new badge red" data-badge-caption="" >{{user.TOT_JEOK}}</span></a>

                                       <a  class="collection-item">금융상품잔액 청약<span class="new badge red" data-badge-caption="">{{user.TOT_CHUNG}}</span></a>

                                       <a  class="collection-item">금융상품잔액 펀드<span class="new badge red" data-badge-caption="">{{user.TOT_FUND}}</span></a>

                                      <a  class="collection-item">금융상품잔액 ELS/DLS/ETF<span class="new badge red" data-badge-caption="">{{user.TOT_ELS_ETE}}</span></a>


                                       <a  class="collection-item">월총소비금액<span class="new badge red" data-badge-caption="">{{user.TOT_SOBI}}</span></a>

                                        <a class="collection-item">월평균카드사용금액<span class="new badge red" data-badge-caption="">{{user.M_CRD_SPD}}</span></a>



                          </a></div>
					</div>

					</div>


                    </div>
        <div class="col-md-6">
                       <div class="alert alert-success">
                <strong>Note !</strong> 조회 기준일: 2017년 10월 17일 | 표시 단위 만원
            </div>
						<div class="card"><div class="card-action">
					  <h2>나와 같은 사람들</h2>
					</div>
					<div class="card-image">
							 	  <div class="collection">

                                        <a  class="collection-item">월총저축액<span class="new badge red" data-badge-caption="" >{{cmp.M_TOT_SAVING__avg}}</span></a>

                          <a class="collection-item"><span class="badge">{{cmp.M_JEOK__avg}}</span>월저축액 적금</a>
                          <a class="collection-item"><span class="badge">{{cmp.CHUNG_Y__avg}}</span>청약보유여부</a>
                          <a class="collection-item"><span class="badge">{{cmp.M_FUND_STOCK__avg}}</span>월저축액 펀드 주식</a>
                          <a class="collection-item"><span class="badge">{{cmp.M_FUND__avg}}</span>월저축액 펀드</a>
                          <a class="collection-item"><span class="badge">{{cmp.M_STOCK__avg}}</span>월저축액 주식</a>
                          <a class="collection-item"><span class="badge">{{cmp.M_SAVING_INSUR__avg}}</span>월저축액 저축성보험</a>
                          <a class="collection-item"><span class="badge">{{cmp.M_CHUNG__avg}}</span>월저축액 청약</a>
                                      {% if cmp.M_CHUNG__avg == "없음" %}

                                      <a class="collection-item"><span class="badge">{{cmp.TOT_DEBT__avg}}</span>부채잔액</a>
                                      {% else %}
                                      <a  class="collection-item">부채잔액<span class="new badge red" data-badge-caption="" >{{cmp.TOT_DEBT__avg}}</span></a>
                                      {% endif %}



                          <a class="collection-item"><span class="badge">{{cmp.D_SHINYONG__avg}}</span>부채잔액 신용대출</a>
                          <a class="collection-item"><span class="badge">{{cmp.D_DAMBO__avg}}</span>부채잔액 담보대출</a>
                          <a class="collection-item"><span class="badge">{{cmp.D_JUTEAKDAMBO__avg}}</span>부채잔액 아파트</a>
                          <a class="collection-item"><span class="badge">{{cmp.D_JEONSEA__avg}}</span>부채잔액 전세자금대출</a>
                          <a class="collection-item"><span class="badge">{{cmp.RETIRE_NEED__avg}}</span>은퇴후필요자금</a>
                          <a class="collection-item"><span class="badge">{{cmp.FOR_RETIRE__avg}}</span>노후자금융 월저축액</a>




                                      <a  class="collection-item">금융상품잔액 정기예금<span class="new badge red" data-badge-caption="">{{cmp.TOT_YEA__avg}}</span></a>

                                       <a  class="collection-item">금융상품잔액 적금<span class="new badge red" data-badge-caption="" >{{cmp.TOT_JEOK__avg}}</span></a>

                                       <a  class="collection-item">금융상품잔액 청약<span class="new badge red" data-badge-caption="">{{cmp.TOT_CHUNG__avg}}</span></a>

                                       <a  class="collection-item">금융상품잔액 펀드<span class="new badge red" data-badge-caption="">{{cmp.TOT_FUND__avg}}</span></a>

                                      <a  class="collection-item">금융상품잔액 ELS/DLS/ETF<span class="new badge red" data-badge-caption="">{{cmp.TOT_ELS_ETE__avg}}</span></a>


                                       <a  class="collection-item">월총소비금액<span class="new badge red" data-badge-caption="">{{cmp.TOT_SOBI__avg}}</span></a>

                                        <a class="collection-item">월평균카드사용금액<span class="new badge red" data-badge-caption="">{{cmp.M_CRD_SPD__avg}}</span></a>

                                  </div>

					</div>

					</div>


        </div>

       </row>






        <!---------------------------------------------------------------->

        </div>
    </main>
{% endblock %}
