{% extends "../base.html" %}

{% block sidebar %}

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">{{ request.session.authuser.name }}님 안녕하세요 ^^;</p>
        </div>
      </div>
     <ul class="app-menu">
        <li><a class="app-menu__item" href="/service/yniAverage"><span class="app-menu__label">나와 같은 사람들의 평균생활</span></a></li>

   <li><a class="app-menu__item" href="/service/yniCompare"><span class="app-menu__label">나 VS 나와 같은 사람</span></a></li>

        <li><a class="app-menu__item active" href="/service/yniScore"><span class="app-menu__label">나의 금융생활 점수는?</span></a></li>
      </ul>
    </aside>


{% endblock %}

{% block content %}
    <main class="app-content">
        <!---------------------------------------------------------------->
          <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> 나의 금융생활 점수는?</h1>
          <p>나의 금융자산, 월 저축 금액, 월 소비금액을 비교해 보세요!</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">나의 금융생활 점수는?</a></li>
        </ul>
      </div>

        <!--------------------------------------------------------------------->
        <div id="page-inner"><!--row---------->

          <!--row---------->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                   <div class="card teal">
						<div class="card-content white-text">

						  <span class="card-title">금융자산</span>
						  <p>나와 같은 사람들의 평균 금융 자산</p>
                            <h3>2,383 만원</h3>


                       <h4>3,000 만원</h4>

						</div>
						<div class="card-action">

                            <a href="#">내정보 수정하기</a>

                        </div>

				      </div>
						</div>


                <div class="col-md-4 col-sm-4">
                   <div class="card">
						<div class="card-content">
						  <span class="card-title">월 저축 금액</span>
						  <p>나와 같은 사람들의 월 저축 금액</p>
                            <h3>118 만원</h3>

                       <h4>200 만원</h4>
						</div>
						<div class="card-action">
				        <a href="#">내정보 수정하기</a>

						</div>
					  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                        <div class="card blue-grey darken-1">
						<div class="card-content white-text">
						  <span class="card-title">월 소비 금액</span>
						  <p>나와 같은 사람들의 평균 월 소비 금액</p>
                            <h3>110 만원</h3>

                           <h4>200 만원</h4>
						</div>
						<div class="card-action">
					        <a href="#">내정보 수정하기</a>

						</div>
					  </div>
                </div>
            </div>
                   <!-- /. ROW  -->
        <div class="dashboard-cards">
            	<div class="cirStats">
                <div class="row">
                      <div class="col-md-4 col-sm-4">

								<div class="card-panel text-center">
											<h4>51점</h4>
											<div class="easypiechart" id="easypiechart-blue" data-percent="82" ><span class="percent">82%</span>
											</div>
                                </div>

                    </div>
                 <div class="col-md-4 col-sm-4">
								<div class="card-panel text-center">
											<h4>63점</h4>
											<div class="easypiechart" id="easypiechart-red" data-percent="46" ><span class="percent">46%</span>
											</div>
										</div>

                    </div>
                   <div class="col-md-4 col-sm-4">

				           <div class="card-panel text-center">
											<h4>62점</h4>
											<div class="easypiechart" id="easypiechart-teal" data-percent="84" ><span class="percent">84%</span>
											</div>
										</div>

                    </div>

                </div>


			   </div>
        </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-action">
                            Basic Tabs
                        </div>
                        <div class="card-content">
							 <ul class="collapsible" data-collapsible="accordion">
								<li>
								  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
								  <div class="collapsible-body"><p>Tt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur..</p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
								  <div class="collapsible-body"><p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
								  <div class="collapsible-body"><p>Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
								</li>
							  </ul>

                            </div>
                        </div>
                    </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-action">
                            Tabs
                        </div>
                        <div class="card-content">
                           <div class="col">
							  <ul class="tabs">
								<li class="tab col s3"><a href="#test1">Test 1</a></li>
								<li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
								<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
								<li class="tab col s3"><a href="#test4">Test 4</a></li>
							  </ul>
							</div>
							<div class="clearBoth"><br/></div>
							<div id="test1" class="col s12"><p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
							<div id="test2" class="col s12"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
							<div id="test3" class="col s12"><p>Bpsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
							<div id="test4" class="col s12"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
                           <div class="clearBoth"><br/></div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /. ROW  -->
				<footer><p>Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
</p></footer>
					</div>

        <!---------------------------------------------------------------->



    </main>
{% endblock %}
