{% extends "../base.html" %}


{% block sidebar %}

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar"src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"  alt="User Image">
        <div>
          <p class="app-sidebar__user-name">{{ request.session.authuser.id }}</p>
          <p class="app-sidebar__user-designation">{{ request.session.authuser.name }}님 안녕하세요 ^^;</p>
        </div>
      </div>
     <ul class="app-menu">
        <li><a class="app-menu__item" href="/service/yniAverage"><span class="app-menu__label">나와 같은 사람들의 평균생활</span></a></li>

   <li><a class="app-menu__item" href="/service/yniCompare"><span class="app-menu__label">나 VS 나와 같은 사람</span></a></li>

        <li><a class="app-menu__item active" href="/service/yniScore"><span class="app-menu__label">나의 금융생활 점수는?</span></a></li>
    <li><a class="app-menu__item" href="/service/productList"><span class="app-menu__label">베스트 상품 추천</span></a></li>
     </ul>
    </aside>


{% endblock %}

{% block content %}
    <main class="app-content">
        <!---------------------------------------------------------------->
          <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> 나의 금융생활 점수는?</h1>
          <p>나의 금융자산, 월 저축 금액, 월 소비금액을 점수를 통해 알아보세요!</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">나의 금융생활 점수는?</a></li>
        </ul>
      </div>

        <!--------------------------------------------------------------------->
        <div id="page-inner"><!--row---------->

          <!--row---------->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                   <div class="card teal">
						<div class="card-content white-text">

						  <span class="card-title">금융자산</span>
						  <p>* 나와 같은 사람들의 평균 금융 자산</p>
                            <h3>{{detail_avg.ASS_FIN__avg}} 만원</h3>

                 <!--<h4>{{ request.session.authuser.name }}님의 금융 자산</h4>-->

                       <!--<h4>{{user_info.ass_fin}} 만원</h4>-->

						</div>

                       		<div class="card-content white-text">

                 <p>* {{ request.session.authuser.name }}님의 금융 자산</p>

                       <h3>{{user_info.ass_fin}} 만원</h3>

						</div>
						<div class="card-action">

                            <a href="/user/mypage">내정보 수정하기</a>

                        </div>

				      </div>
						</div>


                <div class="col-md-4 col-sm-4">
                   <div class="card">
						<div class="card-content">
						  <span class="card-title">월 저축 금액</span>
						  <p>* 나와 같은 사람들의 월 저축 금액<p>
                            <h3>{{detail_avg.M_TOT_SAVING__avg}} 만원</h3>

						</div>

                                		<div class="card-content">

                 <p>* {{ request.session.authuser.name }}님의 월 저축 금액</p>

                       <h3>{{user_info.m_tot_saving}} 만원</h3>

						</div>
						<div class="card-action">
				        <a href="/user/mypage">내정보 수정하기</a>

						</div>
					  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                        <div class="card blue-grey darken-1">
						<div class="card-content white-text">
						  <span class="card-title">월 소비 금액</span>
						  <p>* 나와 같은 사람들의 평균 월 소비 금액</p>
                            <h3>{{detail_avg.TOT_SOBI__avg}} 만원</h3>

						</div>
                            <div class="card-content white-text">

                 <p>* {{ request.session.authuser.name }}님의 월 소비 금액</p>

                       <h3>{{user_info.tot_sobi}} 만원</h3>

						</div>
						<div class="card-action">
					        <a href="/user/mypage">내정보 수정하기</a>

						</div>
					  </div>
                </div>
            </div>
                   <!-- /. ROW  -->
        <div class="dashboard-cards">
            	<div class="cirStats">
                <div class="row">
                      <div class="col-md-4 col-sm-4">

								<div class="card-panel text-center">
											<h4>나의 금융자산 점수</h4>
											<div class="easypiechart" id="easypiechart-blue" data-percent="{{score.ASS_FIN_score}}" ><span class="percent">{{score.ASS_FIN_score}}점</span>
											</div>
                                </div>

                    </div>
                 <div class="col-md-4 col-sm-4">
								<div class="card-panel text-center">
											<h4>나의 월 저축 금액 점수</h4>
											<div class="easypiechart" id="easypiechart-red" data-percent="{{score.M_TOT_SAVING_score}}" ><span class="percent">{{score.M_TOT_SAVING_score}}점</span>
											</div>
										</div>

                    </div>
                   <div class="col-md-4 col-sm-4">

				           <div class="card-panel text-center">
											<h4>나의 월 소비 금액 점수</h4>
											<div class="easypiechart" id="easypiechart-teal" data-percent="{{score.TOT_SOBI_score}}" ><span class="percent">{{score.TOT_SOBI_score}}점</span>
											</div>
										</div>

                    </div>

                </div>


			   </div>
        </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-action">
                            점수 산출 방법
                        </div>
                        <div class="card-content">
							 <ul class="collapsible" data-collapsible="accordion">
								<li>
								  <div class="collapsible-header"><i class="material-icons">filter_drama</i>금융자산 점수 산출방법</div>
								  <div class="collapsible-body"><p>나와 비슷한 사람들(성별,나이,가구소득)구간의 평균으로, 나와 비슷한 사람들의 평균 금융자산 대비 나의 금융자산을 산출하여 점수를 계산하였습니다.</p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">place</i>월 저축 금액 점수 산출방법</div>
								  <div class="collapsible-body"><p>나와 비슷한 사람들(성별,나이,가구소득)구간의 평균으로, 나와 비슷한 사람들의 평균 월저축금액 대비 나의 월저축금액을 산출하여 점수를 계산하였습니다.</p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">whatshot</i>월 소비 금액 점수 산출방법</div>
								  <div class="collapsible-body"><p>나와 비슷한 사람들(성별,나이,가구소득)구간의 평균으로, 나와 비슷한 사람들의 평균 월소비금액 대비 나의 월소비금액을 산출하여 점수를 계산하였습니다.</p></div>
								</li>
							  </ul>

                            </div>
                        </div>
                    </div>

                </div>

					</div>

        <!---------------------------------------------------------------->



    </main>
{% endblock %}
