{% extends "../base.html" %}



{% block sidebar %}
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">{{ request.session.authuser.name }}님 안녕하세요 ^^;</p>
        </div>
      </div>
     <ul class="app-menu">
        <li><a class="app-menu__item active" href="/service/yniAverage"><span class="app-menu__label">나와 같은 사람들의 평균생활</span></a></li>

   <li><a class="app-menu__item" href="/service/yniCompare"><span class="app-menu__label">나 VS 나와 같은 사람</span></a></li>

        <li><a class="app-menu__item" href="/service/yniScore"><span class="app-menu__label">나의 금융생활 점수는?</span></a></li>

         <li>  <a class="app-menu__item" href="#" data-toggle="modal" data-target="#myModal" ><span class="app-menu__label">Open Modal</span></a></li>
      </ul>
    </aside>

{% endblock %}


{% block content %}
   <main class="app-content">

  <!-- Modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">

      <!-- Modal content-->

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>


</div>
               <!--여기에 문서를 입력하시오-->
        <!--d-->
        <div class="row user">
            <div class="col-md-12">
              <div class="profile">
                <div class="info"><img class="user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg">
                  <h4>John Doe</h4>
                  <p>FrontEnd Developer</p>
                </div>
                <div class="cover-image"></div>
              </div>
            </div>
            <!--<div class="col-md-3">-->
              <!--<div class="tile p-0">-->
                <!--<ul class="nav flex-column nav-tabs user-tabs">-->

                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
        </div>

        <!--d-->
        <div class="app-title">
            <div>
                <h1><i class="fa fa-edit"></i> 개인정보입력 </h1>
                <p>입력받은 개인정보를 통해 금융정보를 도출합니다</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
              <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
              <li class="breadcrumb-item"><a href="#">My Page</a></li>
            </ul>
        </div>

        <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

        <div class="row">
            <div class="col-md-12">
              <div class="tile">
                <div class="row">
                  <div class="col-lg-6">
                    <form id="login-form" name="mypage" method="post" action="/user/mypage_submit">{% csrf_token %}
                        <div class="form-group">
                                        <label for="inputName"><legend>이름</legend></label>


                            <input class="form-control" id="inputName" type="text">
                        </div>
	            <fieldset class="form-group">
                    <label for="SEX_GBN"><legend>성별</legend></label>


                              <p>
      <input id="SEX_GBN_1" type="radio" name="optionsRadios-SEX_GBN" value="1" />
     <label   for="SEX_GBN_1">여</label>
    </p>
    <p>
      <input id="SEX_GBN_2" type="radio" name="optionsRadios-SEX_GBN" value="2"  />
      <label for="SEX_GBN_2">남</label>
    </p>

                        </fieldset>

                        <fieldset class="form-group">
                               <label for="AGE_GBN"><legend>나이</legend></label>

                            <p>
                          <input id="AGE_GBN_1" type="radio" name="optionsRadios-AGE_GBN" value="2" />
                              <label   for="AGE_GBN_1">20-29세</label>
                            </p>

                                 <p>
                          <input id="AGE_GBN_2" type="radio" name="optionsRadios-AGE_GBN" value="3" />
                              <label   for="AGE_GBN_2">30-39세</label>
                            </p>
                                               <p>
                          <input id="AGE_GBN_3" type="radio"name="optionsRadios-AGE_GBN"  value="4" />
                              <label   for="AGE_GBN_3">40-49세</label>
                            </p>

                                                            <p>
                          <input id="AGE_GBN_4" type="radio"name="optionsRadios-AGE_GBN"   value="5" />
                              <label   for="AGE_GBN_4">50-59세</label>
                            </p>

                            <p>
                          <input id="AGE_GBN_5" type="radio" name="optionsRadios-AGE_GBN"   value="6" />
                              <label   for="AGE_GBN_5">60세 이상</label>
                            </p>

                        </fieldset>

                        <!--근데 이거는 value가 2부터 시작해야됨 그래서 1번에 기타를 만듬-->


                        <div class="form-group">
                            <label for="JOB_GBN"><legend>직업 구분</legend></label>

                    <select class="form-control" id="JOB_GBN" multiple="">
                                <option>기타</option>
                                <option>사무직</option>
                                <option>공무원</option>
                                <option>전문직(근로직)</option>
                                <option>전문직(자영업)</option>
                                <option>판매서비스</option>
                                <option>기능직</option>
                                <option>일반 자영업</option>
                                <option>프리랜서</option>
                                <option>대학원생 기타</option>
                    </select>
                         </div>
                        <div class="form-group">
                        <label for="ADD_GBN"><legend>지역구분</legend></label>
                                <select class="form-control" id="ADD_GBN" multiple="">

                                <option>강남3구_송파, 강남, 서초</option>
                                <option>서울 기타</option>
                                <option>광역시</option>
                                <option>경기도</option>
                                <option>기타</option>
                            </select>
                        </div>

                        <div class="form-group">
                        <label for="INCOME_GBN"><legend>가구소득구간</legend></label>

                            <select class="form-control" id="INCOME_GBN" multiple="">

                                <option>100만원 미만</option>
                                <option>200만원 미만</option>
                                <option>300만원 미만</option>
                                <option>400만원 미만</option>
                                <option>500만원 미만</option>
                                <option>600만원 미만</option>
                                <option>700만원 이상</option>
                            </select>
                        </div>

                        <fieldset class="form-group">
                            <legend>결혼여부</legend>
                            <p>
                          <input id="MARRY_Y_1" type="radio" name="optionsRadios-MARRY_Y"   value="1" />
                              <label   for="MARRY_Y_1">미혼</label>
                            </p>
                                       <p>
                          <input id="MARRY_Y_2" type="radio" name="optionsRadios-MARRY_Y"   value="2" />
                              <label   for="MARRY_Y_2">기혼</label>
                            </p>
                                       <p>
                          <input id="MARRY_Y_3" type="radio" name="optionsRadios-MARRY_Y"   value="2" />
                              <label   for="MARRY_Y_3">미응답</label>
                            </p>

                        </fieldset>

                        <fieldset class="form-group">
                            <legend>맞벌이</legend>
                                           <p>
                          <input id="DOUBLE_IN_1" type="radio"  name="optionsRadios-DOUBLE_IN"   value="2" />
                              <label   for="DOUBLE_IN_1">외벌이</label>
                            </p>
                                           <p>
                          <input id="DOUBLE_IN_2" type="radio" name="optionsRadios-DOUBLE_IN"   value="2" />
                              <label   for="DOUBLE_IN_2">맞벌이</label>
                            </p>
                                           <p>
                          <input id="DOUBLE_IN_3" type="radio"  name="optionsRadios-DOUBLE_IN"  value="2" />
                              <label   for="DOUBLE_IN_3">미응답</label>
                            </p>


                        </fieldset>

                        <fieldset class="form-group">
                            <legend>자녀수</legend>
                            <p>
                          <input id="NUMCHILD_0" type="radio"  name="optionsRadios-NUMCHILD"   value="0" />
                              <label   for="NUMCHILD_0">미응답</label>
                            </p>
                                <p>
                          <input id="NUMCHILD_1" type="radio"  name="optionsRadios-NUMCHILD"   value="0" />
                              <label   for="NUMCHILD_1">1명</label>
                            </p>
                                <p>
                          <input id="NUMCHILD_2" type="radio"  name="optionsRadios-NUMCHILD"   value="0" />
                              <label   for="NUMCHILD_2">2명</label>
                            </p>
                                <p>
                          <input id="NUMCHILD_3" type="radio"  name="optionsRadios-NUMCHILD"   value="0" />
                              <label   for="NUMCHILD_3">3명 이상</label>
                            </p>





                        </fieldset>

                        <div class="form-group">
                            <label class="col-form-label" for="TOT_ASSET">총자산</label>
                            <input class="form-control" id="TOT_ASSET" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="ASS_FIN">금융자산</label>
                            <input class="form-control" id="ASS_FIN" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="ASS_REAL">부동산자산</label>
                            <input class="form-control" id="ASS_REAL" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="ASS_ETC">기타자산</label>
                            <input class="form-control" id="ASS_ETC" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="M_TOT_SAVING">월 총저축액</label>
                            <input class="form-control" id="M_TOT_SAVING" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="M_JEOK">월 총저축액_적금</label>
                            <input class="form-control" id="M_JEOK" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="CHUNG_Y">청약보유여부</label>
                            <input class="form-control" id="CHUNG_Y" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="M_FUND_STOCK">월 저축액_펀드/주식</label>
                            <input class="form-control" id="M_FUND_STOCK" type="text">
                        </div>

                        <!--...-->
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">월 총저축액_펀드</label>
                            <input class="form-control" id="M_FUND" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">월 총저축액_주식</label>
                            <input class="form-control" id="M_STOCK" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">월 총저축액_저축성보험</label>
                            <input class="form-control" id="M_SAVING_INSUR" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">월 총저축액_청약</label>
                            <input class="form-control" id="M_CHUNG" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">부채잔액</label>
                            <input class="form-control" id="TOT_DEBT" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">부채잔액_신용대출</label>
                            <input class="form-control" id="D_SHINYONG" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">부채잔액_담보대출</label>
                            <input class="form-control" id="D_DAMBO" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">부채잔액_아파트/주택담보대출</label>
                            <input class="form-control" id="D_JUTEAKDAMBO" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">부채잔액_전세자금대출</label>
                            <input class="form-control" id="D_JEONSEA" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">은퇴후 필요자금</label>
                            <input class="form-control" id="RETIRE_NEED" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">노후자금용 월저축액</label>
                            <input class="form-control" id="FOR_RETIRE" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">금융상품 잔액_정기예금</label>
                            <input class="form-control" id="TOT_YEA" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">금융상품 잔액_적금</label>
                            <input class="form-control" id="TOT_JEOK" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">금융상품 잔액_청약</label>
                            <input class="form-control" id="TOT_CHUNG" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">금융상품 잔액_펀드</label>
                            <input class="form-control" id="TOT_FUND" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">금융상품 잔액_ELS/DLS/ETF 등</label>
                            <input class="form-control" id="TOT_ELS_ETE" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">월 총소비금액</label>
                            <input class="form-control" id="TOT_SOBI" type="text">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">월 평균 카드사용금액</label>
                            <input class="form-control" id="M_CRD_SPD" type="text">
                        </div>

                        <!--제출버튼  -->
                            <button class="btn btn-primary" type="submit">Submit</button>

                    </form>
                  </div>

                  <!--<div class="col-lg-4 offset-lg-1">-->
                    <!--<form>-->
                        <!---->

                    <!--</form>-->
                  <!--</div>-->

                  <!--<div class="col-lg-4 offset-lg-1">-->
                    <!--<form>-->

                        <!--&lt;!&ndash;여기&ndash;&gt;-->

                    <!--</form>-->
                  <!--</div>-->

                </div>
              </div>
            </div>
        </div>
   </main>

{% endblock %}



